<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<context-param>
		<param-name>user</param-name>
		<param-value>root</param-value>
	</context-param>
	<servlet>
		<servlet-name>hellojsp</servlet-name>
		<jsp-file>/hello.jsp</jsp-file>
		<init-param>
			<param-name>test</param-name>
			<param-value>testValue</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hellojsp</servlet-name>
		<url-pattern>/hellojsp</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/hello2.jsp</location>
	</error-page>
	
	<error-page>
	  
	  <exception-type>java.lang.ArithmeticException</exception-type>
	  <location>/WEB-INF/error.jsp</location>
	
	</error-page>

</web-app>